//------------------------------------------------------------------
    Theme by astroon
    Versiom: 1.0.0
    Year: 2019
    Contact: astroonthemes@gmail.com
    Thank you for your purchase!
    ----------------------------------------------------------------

span.element_two: img(src="assets/img/cub_two.png", alt="")
span.element_three: img(src="assets/img/cub_three.png", alt="")
span.element_four: img(src="assets/img/cub_four.png", alt="")
span.element_five: img(src="assets/img/block_five.png", alt="")
span.element_six: img(src="assets/img/cub_six.png", alt="")
span.element_seven: img(src="assets/img/cub_seven.png", alt="")
span.element_eight: img(src="assets/img/cub_eight.png", alt="")
span.element_nine: img(src="assets/img/cub_four.png", alt="")