//------------------------------------------------------------------
    Theme by astroon
    Versiom: 1.0.0
    Year: 2019
    Contact: astroonthemes@gmail.com
    Thank you for your purchase!
    ----------------------------------------------------------------

footer#footer
    .container
        .brend
            .logo
                img(src="assets/img/icons/logo_vio.svg")
                | VioStudio
            p Address : 999 White St
            p Phone Number : + (888) 123-4567
            p Email : admin@mail.com
        .nav_f.col-lg-12.col-12
            span Copyright © 2019 Astroon.

//- SCRIPTS
script(src="assets/js/libs.min.js")
script(src="assets/js/index.js")