//------------------------------------------------------------------
    Theme by astroon
    Versiom: 1.0.0
    Year: 2019
    Contact: astroonthemes@gmail.com
    Thank you for your purchase!
    ----------------------------------------------------------------

- var page = 'FAQ' //- Name Page
doctype html
html(lang="en")
    head
        include includes/head.pug
    body
        //- HEADER
        include includes/nav.pug

        //- ACCORDION
        section.faq-block_one.spacing-top: .container
            .heading
                h2 Work with a Dedicated<br>SEO Company
                p  Our approach to SEO is uniquely built around what we know works…and what we<br>know doesn’t work. With over 200 verified factors in play.
            .row
                .astroon_accordion.col-lg-6: .tabs
                    .tab
                        input#my-id-31083(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-31083')
                            h5(data-lax-preset_large='zoomIn-0.9') 1. Best Practices for Keyword Density?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-80090(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-80090')
                            h5(data-lax-preset_large='zoomIn-0.9') 2. What is off page SEO link building?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-19423(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-19423')
                            h5(data-lax-preset_large='zoomIn-0.9') 3. What is domain authority?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-80190(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-80190')
                            h5(data-lax-preset_large='zoomIn-0.9') 4. What is broken link building?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-90768(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-90768')
                            h5(data-lax-preset_large='zoomIn-0.9') 5. How do I conduct keyword research?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                .astroon_accordion.col-lg-6: .tabs
                    .tab
                        input#my-id-31083(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-31083')
                            h5(data-lax-preset_large='zoomIn-0.9') 1. Best Practices for Keyword Density?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-80090(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-80090')
                            h5(data-lax-preset_large='zoomIn-0.9') 2. What is off page SEO link building?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-19423(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-19423')
                            h5(data-lax-preset_large='zoomIn-0.9') 3. What is domain authority?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-80190(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-80190')
                            h5(data-lax-preset_large='zoomIn-0.9') 4. What is broken link building?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.
                    .tab
                        input#my-id-90768(type='radio', name='rd')
                        label.tab-label.flex_left(for='my-id-90768')
                            h5(data-lax-preset_large='zoomIn-0.9') 5. How do I conduct keyword research?
                            i.fas.fa-chevron-right(aria-hidden='true')
                        .tab-content.description.description_text_settings
                            p
                            | Google has said for years that the most important single factor to them is high quality content. Now more than ever, they have the ability. We help ambitious businesses like yours generate more profits by building awareness, driving web traffic, connecting with customers.

        //- INFO BLOCK
        section.faq-block_two: .container: .row
            .col-lg-6: .img-wrap
                img(src="https://via.placeholder.com/1920x1080")
                a.play_b(data-fancybox href="https://vimeo.com/70834074"): i.fas.fa-play-circle
            .faq-block_two__info.col-lg-6
                h2 Default box with<br> shadow style
                p  Software development outsourcing is just a tool to achieve business goals. But there is no way to get worthwhile results without cooperation and trust between a client company.
                .button: a(href='#') Contacts

        //- PROGRESS BLOCK
        section.faq-block_three: .container: .row
            .astroon_accordion.col-lg-6: .tabs
                .tab
                    input#my-id-94443(type='radio', name='rd')
                    label.tab-label(for='my-id-94443')
                        h5(data-lax-preset_large='zoomIn-0.9') 1. How to change partner gray image to color?
                        i.fas.fa-chevron-right(aria-hidden='true')
                    .tab-content.description.description_text_settings
                        p
                            | From banking and insurance to wealth the management and securitie on there financial services the teams serve
                .tab
                    input#my-id-67871(type='radio', name='rd')
                    label.tab-label(for='my-id-67871')
                        h5(data-lax-preset_large='zoomIn-0.9') 2. Where I add my email address in caldera form ?
                        i.fas.fa-chevron-right(aria-hidden='true')
                    .tab-content.description.description_text_settings
                        p
                            | From banking and insurance to wealth the management and securitie on there financial services the teams serve
                .tab
                    input#my-id-14405(type='radio', name='rd')
                    label.tab-label(for='my-id-14405')
                        h5(data-lax-preset_large='zoomIn-0.9') 3. Page showing 404 but this page still there?
                        i.fas.fa-chevron-right(aria-hidden='true')
                    .tab-content.description.description_text_settings
                        p
                            | From banking and insurance to wealth the management and securitie on there financial services the teams serve
                .tab
                    input#my-id-49774(type='radio', name='rd')
                    label.tab-label(for='my-id-49774')
                        h5(data-lax-preset_large='zoomIn-0.9') 4.  How to increase upload_max_filesize?
                        i.fas.fa-chevron-right(aria-hidden='true')
                    .tab-content.description.description_text_settings
                        p
                            | From banking and insurance to wealth the management and securitie on there financial services the teams serve


            .col-lg-6
                .heading
                    h2 General FAQ
                .progress__item
                    span.progress__item-title BUSINESS
                    .progress-bar.progress-bar-70
                .progress__item
                    span.progress__item-title DESIGN
                    .progress-bar.progress-bar-40
                .progress__item
                    span.progress__item-title MARKETING
                    .progress-bar.progress-bar-60
        //- FORM
        section.form_b
            .container
                .form_contact
                    h2 Contact
                    p  Your email address will not be published. Required fields are marked *
                    form
                        .rpl_b
                            input(placeholder="Name")
                            input(placeholder="Email")
                        textarea(placeholder="Comment")
                        p
                            input(type="checkbox" value="yes")
                            label Save my name, email, and website in this browser for the next time I comment.
                        .button: a(href='#') Send Message

        //- FOOTER
        include includes/footer.pug