//------------------------------------------------------------------
    Theme by astroon
    Versiom: 1.0.0
    Year: 2019
    Contact: astroonthemes@gmail.com
    Thank you for your purchase!
    ----------------------------------------------------------------

extends single_post.pug

block var
    - var page = 'Single Post'

block media_element
    .media_blog
        img(src="https://via.placeholder.com/1920x1080")