//------------------------------------------------------------------
    Theme by astroon
    Versiom: 1.0.0
    Year: 2019
    Contact: astroonthemes@gmail.com
    Thank you for your purchase!
    ----------------------------------------------------------------

extends single_post.pug

block var
    - var page = 'Single Post Quote'

block media_element
    .qoute
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores neque, quaerat officiis fuga vel ducimus voluptatum possimus at!
